header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 48px;
    margin: 0;
    padding: 0;

}

.page_logo {


}

.title {
    display: flex;
    justify-content: center;

}

.page_logo--alien img {
    height: 150px;

} 

